.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header-nav {
  display: flex;
  justify-content: center;
}

.header-logo {
  display: block;
  margin-right: 40px;
}

.header-nav ul {
  list-style-type: none;
  padding-left: 0;
}

.header-nav li {
  display: inline-block;
  margin: 0 20px 0 0;
}

.header-nav li:last-child {
  margin-right: 0;
}

footer {
  display: flex;
  justify-content: center;
}

.footer-logo {
  display: block;
  width: 50px;
  height: 85px;
  margin: 0 50px 0 0;
}

footer section {
  margin-right: 50px;
}

footer section:last-child {
  margin-right: 0;
}

.footer-section-title {
  margin: 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
}
